lew
dwnas
‎

lew dwnas
OWNER
 — 21/06/2023 14:44• he/she
Image
Image
+ fortune or silk touch 
Image
lew dwnas
OWNER
 — 25/06/2023 23:15• he/she
Image
lew dwnas
OWNER
 — 30/07/2023 14:16• he/she
:trolley:
:mikuheart:
:bongocat:
:miyanofu:
:goodnight:
:goodmorning:
:PPcat:
:AYAYA:
:SCsmug~1:
:SCsmug2:
:SCsmug:
:SCsorry:
:SCwtf:
:LeftShark:
:piplup:
:pikachu:
:eeveescream:
:piplup:
lew
 pinned 
a message
 to this channel. See all 
pinned messages
.
 — 30/07/2023 14:24
lew dwnas
OWNER
 — 30/07/2023 14:25• he/she
:chikapat:
:technohypers:
lew dwnas
OWNER
 — 30/07/2023 14:33• he/she
Image
:piplup:
Image
lew dwnas
OWNER
 — 30/07/2023 14:45• he/she
as
lew dwnas
OWNER
 — 30/07/2023 15:09• he/she
Image
lew dwnas
OWNER
 — 30/07/2023 15:18• he/she
Image
role icon: https://cdn.discordapp.com/attachments/1064962691560652800/1135214879083597895/978371758585413642.png
role colour: 63a0fd
role name: one of the people of all time

badge: https://cdn.discordapp.com/attachments/1064962691560652800/1135212583083843686/ezgif-4-f011a43f23.gif
tooltip: read if short 
Image
Image
lew dwnas
OWNER
 — 05/08/2023 07:54• he/she
https://cdn.discordapp.com/attachments/1115008824739364905/1115008843756359771/image0.jpg?.gif
lew dwnas
OWNER
 — 06/08/2023 18:38• he/she
Image
lew dwnas
OWNER
 — 09/08/2023 19:36• he/she
📎
whattesr
lew dwnas
OWNER
 — 09/08/2023 20:01• he/she
https://google.com/
Google
Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
lew dwnas
OWNER
 — 09/08/2023 22:05• he/she
:boykisser:
lew dwnas
OWNER
 — 10/08/2023 18:35• he/she
lew dwnas
OWNER
 — Yesterday at 18:37• he/she
.tt a
.fembot .fmbot
BOT • MOD
 — Yesterday at 18:37
 

Top overall tracks for lew
41. isaacwhy - BUDLIGHT - 91 plays
42. Khantrast - She Bad - 91 plays
43. PACKGOD - ISHOWSPEED DISS TRACK - 90 plays
44. Softwilly - HIT ME - 90 plays
45. Softwilly - ILY BABY - 89 plays
46. Schnuffel - Häschenparty - 85 plays
47. isaacwhy - ARTICHOKE - 77 plays
48. Snow - Informer - 48 plays
49. Blackstreet - No Diggity - 46 plays
50. The Artful Dodger - Re-Rewind (feat. Craig David) - 46 plays
Page 5/20 - 646 total tracks in this time period
lew dwnas
OWNER
 — Yesterday at 18:38• he/she
.wkt haschen party
.fembot .fmbot
BOT • MOD
 — Yesterday at 18:38
To use .fmbot commands with server-wide statistics you need to create a memberlist cache first.

Please run .refreshmembers to create this.
Note that this can take some time on large servers.
lew dwnas
OWNER
 — Yesterday at 23:02• he/she
Image
Image
lew dwnas
OWNER
 — Today at 10:24• he/she
Image
Image
lew dwnas
OWNER
 — Today at 12:45• he/she
pke:a
?av
Dank Memer
BOT • ADMIN
 — Today at 12:49
dwnas - Total Memer
:21Badge: :SlashTesterBadge:
Level
Level: 23
Experience: 77/100
:PB1C::PB2C::PB2C::PB2F::PB3E:
Coins
Wallet: ⏣ 0
Bank: ⏣ 5M
Net: ⏣ 25.2M
Items
Unique: 36
Total: 378
Worth: ⏣ 20.1M
Commands
Total: 7.3K
Favorite: deposit
Pets
No pet
Showcase
No showcase
Image
Main Profile
lew dwnas
OWNER
 — Today at 20:41• he/she
.channelTextArea-1FufC0::before {
	/* duration of wakeup and go to sleep animations (in seconds) */
	/* set to 2.65s to match windows cursor blink rate */
	--wakeup-duration: 2s;
	/* duration of sleeping and typing animations */
	--sleep-duration: calc(var(--wakeup-duration) / 5 * 2);
Expand
import.css
3 KB
﻿
.channelTextArea-1FufC0::before {
	/* duration of wakeup and go to sleep animations (in seconds) */
	/* set to 2.65s to match windows cursor blink rate */
	--wakeup-duration: 2s;
	/* duration of sleeping and typing animations */
	--sleep-duration: calc(var(--wakeup-duration) / 5 * 2);
	/* typing animation: run, runleft, alert, or wallscratch */
	--typing-animation: alert;

	content: '';
	width: 32px;
	height: 32px;
	top: -29px;
	right: 10px; /* change right to left to move oneko to the left */
	position: absolute;
	image-rendering: pixelated;
	background-image: url('https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif');
	animation: sleep var(--sleep-duration) infinite;
}
.channelTextArea-1FufC0:hover::before {
	animation: var(--wakeup-duration) 1 forwards wakeup;
}
.channelTextArea-1FufC0:not(:hover)::before {
	animation: var(--wakeup-duration) 1 forwards gotosleep,
		var(--sleep-duration) var(--wakeup-duration) infinite sleep;
}
.channelTextArea-1FufC0:has(.editor-H2NA06:focus)::before {
	animation: var(--wakeup-duration) 1 forwards wakeup,
		var(--sleep-duration) var(--wakeup-duration) infinite
			var(--typing-animation);
}
@keyframes sleep {
	0%,
	50% {
		background-position: -64px 0;
	}
	50.00001%,
	100% {
		background-position: -64px -32px;
	}
}
@keyframes alert {
	0%,
	50% {
		background-position: -224px -96px;
	}
	50.00001%,
	100% {
		background-position: -96px -96px;
	}
}
@keyframes run {
	0%,
	50% {
		background-position: -96px 2px;
	}
	50.00001%,
	100% {
		background-position: -96px -30px;
	}
}
@keyframes runleft {
	0%,
	50% {
		background-position: -128px -62px;
	}
	50.00001%,
	100% {
		background-position: -128px -94px;
	}
}
@keyframes wallscratch {
	0%,
	50% {
		background-position: -64px -62px;
	}
	50.00001%,
	100% {
		background-position: -64px -94px;
	}
}
@keyframes wakeup {
	0%,
	20% {
		background-position: -160px 0;
	}
	20.00001%,
	40% {
		background-position: -192px 0;
	}
	40.00001%,
	60% {
		background-position: -224px 0;
	}
	60.00001%,
	80% {
		background-position: -96px -64px;
	}
	80.00001%,
	100% {
		background-position: -96px -96px;
	}
}
@keyframes gotosleep {
	0%,
	20% {
		background-position: -96px -96px;
	}
	20.00001%,
	40% {
		background-position: -96px -64px;
	}
	40.00001%,
	60% {
		background-position: -224px 0;
	}
	60.00001%,
	80% {
		background-position: -192px 0;
	}
	80.00001%,
	100% {
		background-position: -160px 0;
	}
}
